.error { color: red; text-align: center; }

body
{
background: url('images/back-123.jpg');
/*background-position:50% 0%; */
background-repeat:no-repeat;
background-color:white;

font-family: 'Lato'!important;
color: #45413C;
}

.footer {
    margin-top:75px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
}

.footer img
{
	margin:30px;

}

a 
{
	text-decoration: none;
}


a:visited {color:#6d3444;} /* visited link  */
a.btn:visited {color:#fff;}
a:hover {color:#ee3668;}   /* mouse over link */
a:active {color:black;}  /* selected link */


.container
{
	width:1100px;
	min-height:700px;
	margin:auto;
}


.logo
{

	width:300px;
	height:100px;	
	margin:50px 0 50px 25px;
	padding-left:0px;
	color:black!important;


}

.nav
{
	float:left;
	width:175px;
	margin:0px 0 0 25px;
}

.nav li
{
	list-style-type: none;
	margin-bottom: 20px;
}

.nav li ul li {
	list-style-type: disc;
}

.content
{
    /*background-color: #fff;*/

	min-width:700px;
	max-width: 100%;
	min-height:500px;	
	margin-left:230px;
	margin-top:60px;
}

.content table {
	background-color: #fff;
	border-radius: 10px;
}

.content .table-bordered {
	border-radius: 10px;
}



.fileUpload {
	position: relative;
	overflow: hidden;

		margin: 50px;
}

.fileUpload  input.file{
	
	position: absolute;
	top: 0;
	right: 0;

	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/** Added by Muhammad *

table {
	border: 1px solid #000;
	border-collapse: collapse;
	font-size: 9pt;
	width: auto;
}

thead {
	background-color: #898989;
}

th, td {
	padding: 4px;
}

td {
	overflow: hidden;
	max-width: 400px;
	border-left: 1px dotted rgb(0,0,0);
}

tr:nth-child(even) {
	background-color: #c0c0c0;
}

tr:last-child {
	border-bottom: 1px solid rgb(0,0,0);
}
*/

#index-of-deals-table {
	font-size: 9pt;
}


.image-td-span-bordered {
	text-align: center;
}

.image-td-span-bordered img {
	
	max-width: 300px;
	max-height: 300px;

	border: 2px solid black;
	margin: 0 auto;
}
